body {
  background-color: #e5e5e5;
  cursor: pointer;
}
.outerclock {
  width: 350px;
  height: 350px;
  background-color: #e5e5e5;
  position: relative;
  margin-left: 35%;
  margin-top: 10%;
  margin-right: 35%;
  margin-bottom: 10%;
  border-radius: 50%;
  box-shadow: 6px 6px 8px grey, -6px -6px 8px white;
}
.innerclock {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: aqua;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
}
.dot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 46%;
  left: 46%;
  border-radius: 50%;
  background-color: black;
  z-index: 4;
}
.hour {
  width: 10px;
  height: 75px;
  background-color: skyblue;
  position: absolute;
  top: 24%;
  left: 47%;
  border-radius: 50% 50% 0px 0px;
  transform-origin: bottom;
  z-index: 2;
}
.min {
  width: 8px;
  height: 110px;
  background-color: blue;
  position: absolute;
  top: 11%;
  left: 47%;
  border-radius: 50% 50% 0px 0px;
  transform-origin: bottom;
  z-index: 1;
}
.sec {
  width: 5px;
  height: 120px;
  background-color: orange;
  position: absolute;
  transform-origin: bottom;
  top: 8%;
  left: 47%;
  border-radius: 50% 50% 0px 0px;
  z-index: 3;
}
.time p {
  font-size: 25px;
  font-weight: bold;
  font-family: aerial;
  text-shadow: 1px 2px 2px grey;
}
.time p:nth-child(1) {
  position: absolute;
  left: 44%;
  top: -6%;
}
.time p:nth-child(2) {
  position: absolute;
  left: 3%;
  top: 36%;
}
.time p:nth-child(3) {
  position: absolute;
  left: 49%;
  bottom: -6%;
}
.time p:nth-child(4) {
  position: absolute;
  right: 3%;
  top: 36%;
}
